<%= form_for(@fitting) do |f| %>
  <% if @fitting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fitting.errors.count, "error") %> prohibited this fitting from being saved:</h2>

      <ul>
      <% @fitting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adapter %><br>
    <%= f.text_field :adapter %>
  </div>
  <div class="field">
    <%= f.label :adapter_sticker %><br>
    <%= f.text_field :adapter_sticker %>
  </div>
  <div class="field">
    <%= f.label :data_line %><br>
    <%= f.text_field :data_line %>
  </div>
  <div class="field">
    <%= f.label :headphone %><br>
    <%= f.text_field :headphone %>
  </div>
  <div class="field">
    <%= f.label :tf_card %><br>
    <%= f.text_field :tf_card %>
  </div>
  <div class="field">
    <%= f.label :holster %><br>
    <%= f.text_field :holster %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
