<h1>Listing fittings</h1>

<table>
  <thead>
    <tr>
      <th>Adapter</th>
      <th>Adapter sticker</th>
      <th>Data line</th>
      <th>Headphone</th>
      <th>Tf card</th>
      <th>Holster</th>
      <th>Remark</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fittings.each do |fitting| %>
      <tr>
        <td><%= fitting.adapter %></td>
        <td><%= fitting.adapter_sticker %></td>
        <td><%= fitting.data_line %></td>
        <td><%= fitting.headphone %></td>
        <td><%= fitting.tf_card %></td>
        <td><%= fitting.holster %></td>
        <td><%= fitting.remark %></td>
        <td><%= link_to 'Show', fitting %></td>
        <td><%= link_to 'Edit', edit_fitting_path(fitting) %></td>
        <td><%= link_to 'Destroy', fitting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fitting', new_fitting_path %>
