<p id="notice"><%= notice %></p>

<p>
  <strong>Adapter:</strong>
  <%= @fitting.adapter %>
</p>

<p>
  <strong>Adapter sticker:</strong>
  <%= @fitting.adapter_sticker %>
</p>

<p>
  <strong>Data line:</strong>
  <%= @fitting.data_line %>
</p>

<p>
  <strong>Headphone:</strong>
  <%= @fitting.headphone %>
</p>

<p>
  <strong>Tf card:</strong>
  <%= @fitting.tf_card %>
</p>

<p>
  <strong>Holster:</strong>
  <%= @fitting.holster %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @fitting.remark %>
</p>

<%= link_to 'Edit', edit_fitting_path(@fitting) %> |
<%= link_to 'Back', fittings_path %>
