<p id="notice"><%= notice %></p>

<p>
  <strong>Onyx p n:</strong>
  <%= @bom_materiale.onyx_p_n %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bom_materiale.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bom_materiale.description %>
</p>

<p>
  <strong>P n:</strong>
  <%= @bom_materiale.p_n %>
</p>

<p>
  <strong>Substitute code:</strong>
  <%= @bom_materiale.substitute_code %>
</p>

<p>
  <strong>Substitute p n:</strong>
  <%= @bom_materiale.substitute_p_n %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @bom_materiale.reference %>
</p>

<p>
  <strong>Footprint:</strong>
  <%= @bom_materiale.footprint %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @bom_materiale.mark %>
</p>

<p>
  <strong>Substitute mark:</strong>
  <%= @bom_materiale.substitute_mark %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @bom_materiale.remark %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @bom_materiale.manufacture %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bom_materiale.quantity %>
</p>

<p>
  <strong>Document:</strong>
  <%= @bom_materiale.document %>
</p>

<p>
  <strong>Version:</strong>
  <%= @bom_materiale.version %>
</p>

<p>
  <strong>State:</strong>
  <%= @bom_materiale.state %>
</p>

<%= link_to 'Edit', edit_bom_materiale_path(@bom_materiale) %> |
<%= link_to 'Back', bom_materiales_path %>
