

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-5">
        <h4>Listing materiales_events</h4>
      </div>
      <div class="col-xs-5 panel-aligin-left row">
        <h4 class="col-xs-5">Quantity : <%= @materiale.quantity %></h4>
        <h4 class="col-xs-5">Total : <%= @total%></h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>User</th>
          <th>Obj</th>
          <th>Event</th>
          <th>Quantity</th>
          <th>Remark</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @materiales_events.each do |materiales_event| %>
        <tr>
          <td><%= materiales_event.user %></td>
          <td><%= materiales_event.obj %></td>
          <td><%= materiales_event.event %></td>
          <td><%= materiales_event.quantity %></td>
          <td><%= materiales_event.remark %></td>
          <!-- <td><%= button_to "Show", materiales_event, :class => "btn btn-info", :method => :get %></td> -->
          <td><%= button_to "Destroy", materiales_event, :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="panel-aligin-center">
    <%= will_paginate @materiales_events %>
  </div>
  <div class="panel-footer">

  </div>
</div>