

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <h4>物料详细信息</h4>
      </div>
      <div class="col-lg-6 panel-aligin-left row">
        <h4 class="col-lg-5">实际数量 : <%= @materiale.quantity %></h4>
        <h4 class="col-lg-5">预估总数 : <%= @materiale.estimated_quantity%></h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>用户</th>
          <th>物料</th>
          <th>操作</th>
          <th>数量</th>
          <th>备注</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @materiales_events.each do |materiales_event| %>
        <tr>
          <td><%= materiales_event.user %></td>
          <td><%= materiales_event.obj %></td>
          <td><%= materiales_event.event %></td>
          <td><%= materiales_event.quantity %></td>
          <td><%= materiales_event.remark %></td>
          <!-- <td><%= button_to "Show", materiales_event, :class => "btn btn-info", :method => :get %></td> -->
          <td><%= button_to "删除", materiales_event, :class => "btn btn-danger", :method => :delete, data: { confirm: '确定删除?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="panel-aligin-center">
    <%= will_paginate @materiales_events %>
  </div>
  <div class="panel-footer">

  </div>
</div>