<%= nested_form_for(@materiale, :html=>{:multipart => true }) do |f| %>
  <% if @materiale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materiale.errors.count, "error") %> prohibited this materiale from being saved:</h2>

      <ul>
      <% @materiale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= f.hidden_field  :manufacture %>
  </div>
  <div class="form-group">
    <%= f.label :文石编码 %>
    <%= f.text_field :onyx_p_n, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :类型 %>
    <%= collection_select(:materiale, :type, Type.all, :name, :name, {prompt: true}, {:class =>  "form-control"})%>
  </div>
  <div class="form-group">
    <%= f.label :描述 %>
    <%= f.text_area :description, :class =>  "form-control", :rows => '3', :cols => '50' %>
  </div>
  <div class="form-group">
    <%= f.label :料号 %>
    <%= f.text_field :p_n, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :替代料号 %>
    <%= f.text_field :substitute_code, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :替代料编码 %>
    <%= f.text_field :substitute_p_n, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :封装 %>
    <%= f.text_field :footprint, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :丝印 %>
    <%= f.text_field :mark, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :物料级别 %>
    <%= f.text_field :level, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :备注 %>
    <%= f.text_area :remark, :class =>  "form-control", :rows => '3', :cols => '50' %>
  </div>
  <div class="form-group">
    <%= f.label :数量 %>
    <%= f.number_field :quantity, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :安全库存 %>
    <%= f.number_field :lower_limit, :class =>  "form-control" %>
  </div>
  <!-- <div class="form-group">
    <%= f.label :权限 %>
    <%= f.text_field :role, :class =>  "form-control" %>
  </div> -->
  <div id="materiale_manufacture_ships">
      <%= f.label :供应商%>
      <%= f.fields_for :materiale_manufacture_ships do |mm_form|%>
      <div class="form-group">
        <%= mm_form.label :供应商 %>
        <%= mm_form.select :manufacture_id, options_for_select(Manufacture.all.collect{ |m| [m.name, m.id] }, :selected => mm_form.object.manufacture_id), {:include_blank => true}, {:class =>  "form-control"} %>
      </div>
      <div class="form-group">
        <%= mm_form.label :价格%>
        <%= mm_form.text_field :price, :class =>  "form-control" %>  
      </div>
      <div class="form-group">
        <%= mm_form.label :交期%>
        <%= mm_form.text_field :delivery_time, :class =>  "form-control" %>  
      </div>  
      <%= mm_form.link_to_remove "删除", {:class => "label label-danger"} %>
      <% end %>
      <%= f.link_to_add "增加供应商", :materiale_manufacture_ships, :class => "label label-primary" %>
  </div>
  <div class="form-group" id="datasheet">
      <%= f.label :Datasheet%>
      <%= f.fields_for :datasheets do |datasheet_form| %>
        <%= datasheet_form.file_field :datasheet %>
        <%= link_to datasheet_form.object.datasheet_filename, datasheet_form.object.datasheet_url if datasheet_form.object.datasheet? %>
        <%= datasheet_form.link_to_remove "删除"   %>
      <% end %>
      <%= f.link_to_add "增加文件", :datasheets, :class => "text-primary" %>
  </div>
  
  <div class="form-group" id="acknowledgement">
      <%= f.label :承认书 %>
      <%= f.fields_for :acknowledgements do |acknowledgement_form| %>
        <%= acknowledgement_form.file_field :acknowledgement %>
        <%= link_to acknowledgement_form.object.acknowledgement_filename, acknowledgement_form.object.acknowledgement_url if acknowledgement_form.object.acknowledgement? %>
        <%= acknowledgement_form.link_to_remove "删除" %>
      <% end %>
      <%= f.link_to_add "增加文件", :acknowledgements, :class => "text-primary" %>
  </div>
  
  <div class="form-group" id="materiale_pic">
      <%= f.label :图片 %>
      <%= f.fields_for :materiale_pics do |materiale_pic_form| %>
        <%= materiale_pic_form.file_field :materiale_pic %>
        <%= link_to materiale_pic_form.object.materiale_pic_filename, materiale_pic_form.object.materiale_pic_url if materiale_pic_form.object.materiale_pic? %>
        <%= materiale_pic_form.link_to_remove "删除" %>
      <% end %>
      <%= f.link_to_add "增加文件", :materiale_pics, :class => "text-primary" %>
  </div>
  
  <div class="actions ">
    <%= f.submit "保存",  :class => "btn btn-primary" %>
  </div>
<% end %>
