<%= form_for(@materiale) do |f| %>
  <% if @materiale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materiale.errors.count, "error") %> prohibited this materiale from being saved:</h2>

      <ul>
      <% @materiale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :onyx_p_n %><br>
    <%= f.text_field :onyx_p_n %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :p_n %><br>
    <%= f.text_field :p_n %>
  </div>
  <div class="field">
    <%= f.label :substitute_code %><br>
    <%= f.text_field :substitute_code %>
  </div>
  <div class="field">
    <%= f.label :substitute_p_n %><br>
    <%= f.text_field :substitute_p_n %>
  </div>
  <div class="field">
    <%= f.label :footprint %><br>
    <%= f.text_field :footprint %>
  </div>
  <div class="field">
    <%= f.label :mark %><br>
    <%= f.text_field :mark %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="field">
    <%= f.label :manufacture %><br>
    <%= f.text_field :manufacture %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :lower_limit %><br>
    <%= f.number_field :lower_limit %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
