<%= form_for(@materiale) do |f| %>
  <% if @materiale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materiale.errors.count, "error") %> prohibited this materiale from being saved:</h2>

      <ul>
      <% @materiale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :item %>
    <%= f.text_field :item, :class =>  "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :文石编码 %>
    <%= f.text_field :onyx_p_n, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :类型 %>
    <%= collection_select(:materiale, :type, @types, :name, :name, {prompt: true}, {:class =>  "form-control"})%>
  </div>
  <div class="form-group">
    <%= f.label :描述 %>
    <%= f.text_area :description, :class =>  "form-control", :rows => '3', :cols => '50' %>
  </div>
  <div class="form-group">
    <%= f.label :料号 %>
    <%= f.text_field :p_n, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :替代料号 %>
    <%= f.text_field :substitute_code, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :替代料编码 %>
    <%= f.text_field :substitute_p_n, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :封装 %>
    <%= f.text_field :footprint, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :丝印 %>
    <%= f.text_field :mark, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :物料级别 %>
    <%= f.text_field :level, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :备注 %>
    <%= f.text_area :remark, :class =>  "form-control", :rows => '3', :cols => '50' %>
  </div>
  <div class="form-group">
    <%= f.label :供应商 %>
    <%= f.text_field :manufacture, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :数量 %>
    <%= f.number_field :quantity, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :安全库存 %>
    <%= f.number_field :lower_limit, :class =>  "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :权限 %>
    <%= f.text_field :role, :class =>  "form-control" %>
  </div>
  <div class="actions ">
    <%= f.submit "保存",  :class => "btn btn-primary" %>
  </div>
<% end %>
