<% if materiale.quantity <= materiale.lower_limit%>
    <tr class="danger" id="<%= dom_id materiale%>">
<%else%>
    <tr>
<%end%>
        <% columns = column_is_select('Materiale') %>
        <td hidden><%= materiale._id %></td>
        <td <%= is_need_hidden(columns.include?("onyx_p_n"))%>><%= materiale.onyx_p_n %></td>
        <td <%= is_need_hidden(columns.include?("type"))%>><%= materiale.type %></td>
        <td <%= is_need_hidden(columns.include?("description"))%>><%= materiale.description %></td>
        <td <%= is_need_hidden(columns.include?("p_n"))%>><%= materiale.p_n %></td>
        <td <%= is_need_hidden(columns.include?("substitute_code"))%>><%= materiale.substitute_code %></td>
        <td <%= is_need_hidden(columns.include?("substitute_p_n"))%>><%= materiale.substitute_p_n %></td>
        <td <%= is_need_hidden(columns.include?("footprint"))%>><%= materiale.footprint %></td>
        <td <%= is_need_hidden(columns.include?("mark"))%>><%= materiale.mark %></td>
        <td <%= is_need_hidden(columns.include?("level"))%>><%= materiale.level %></td>
        <td <%= is_need_hidden(columns.include?("remark"))%>><%= materiale.remark %></td>
        <td <%= is_need_hidden(columns.include?("manufacture"))%>><%= materiale.manufacture %></td>
        <td <%= is_need_hidden(columns.include?("quantity"))%>><%= materiale.quantity %></td>
        <td <%= is_need_hidden(columns.include?("estimated_quantity"))%>><%= materiale.estimated_quantity %></td>
        <td <%= is_need_hidden(columns.include?("lower_limit"))%>><%= materiale.lower_limit %></td>
        <td><button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#update_materiale" onclick="set_data($(this).parent().parent(), 'plus')">
              <span class="glyphicon glyphicon-plus">&nbsp;&#43;&nbsp;</span></button>
        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#update_materiale" onclick="set_data($(this).parent().parent(), 'minus')">
              <span class="glyphicon glyphicon-minus">&nbsp;&#45;&nbsp;</span></button>
        <%= button_to "详细", materiale, :class => "btn btn-info btn-xs", :method => :get %>
        <!-- <td><%= link_to 'Edit', edit_materiale_path(materiale) %></td> -->
        <!-- <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', materiale, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        <%= button_to "删除", materiale, :class => "btn btn-danger btn-xs", :method => :delete, data: { confirm: '确定删除改物料?' } %></td>
    </tr>