<h1>物料列表</h1>

<div class="tools-bar">
	<div class="row">
	    <%= form_tag(search_materiales_path) do%>
            <div class="col-xs-1">
                <%= select_tag( 'search_category', options_for_select({'文石编码' => 'onyx_p_n', '类型' => 'type', '料号' => 'p_n', '供应商' => 'manufacture'}), {:class => 'form-control'}) %>
            </div>
            
            <div class="input-group col-xs-3">
                <%= text_field_tag :search_params, params[:search_params], :class => 'form-control' %>
                <span class="input-group-btn">
                    <%= submit_tag "搜索", :class => "btn btn-default", :id => "search_button" %>
                </span>
            </div>
	    <%end%>
	    
	    <%= link_to "编辑列表", edit_column_custom_tables_path(:table_name => 'Materiale'), :class => "btn btn-default", :method => :get%>
		<%= link_to "添加新物料", new_materiale_path, :class => "btn btn-default", :method => :get %>
	</div>
</div>

<table class="table table-condensed">
    <% columns = column_is_select("Materiale") %>
  <thead>
    <tr>
      <th <%= is_need_hidden(columns.include?("onyx_p_n"))%>>文石编码</th>
      <th <%= is_need_hidden(columns.include?("type"))%>>类型</th>
      <th <%= is_need_hidden(columns.include?("description"))%>>描述</th>
      <th <%= is_need_hidden(columns.include?("p_n"))%>>料号</th>
      <th <%= is_need_hidden(columns.include?("substitute_code"))%>>替代料号</th>
      <th <%= is_need_hidden(columns.include?("substitute_p_n"))%>>替代料编码</th>
      <th <%= is_need_hidden(columns.include?("footprint"))%>>封装</th>
      <th <%= is_need_hidden(columns.include?("mark"))%>>丝印</th>
      <th <%= is_need_hidden(columns.include?("level"))%>>物料级别</th>
      <th <%= is_need_hidden(columns.include?("remark"))%>>备注</th>
      <th <%= is_need_hidden(columns.include?("manufacture"))%>>供应商</th>
      <th <%= is_need_hidden(columns.include?("quantity"))%>>数量</th>
      <th <%= is_need_hidden(columns.include?("estimated_quantity"))%>>预估数量</th>
      <th <%= is_need_hidden(columns.include?("lower_limit"))%>>安全库存</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @materiales.each do |materiale| %>
        <%= render materiale %>    
    <% end %>
  </tbody>
</table>

<br>

<%= render "update_materiale" %>


