<h1>物料列表</h1>

<p id="notice"><%= notice %></p>
	

<div class="tools-bar">
	<div class="row">
	    <%= form_tag(search_materiales_path) do%>
            <div class="col-xs-1">
                <%= select_tag( 'search_category', options_for_select({'文石编码' => 'onyx_p_n', '类型' => 'type'}), {:class => 'form-control'}) %>
            </div>
            
            <div class="input-group col-xs-3">
                <%= text_field_tag :search_params, params[:search_params], :class => 'form-control' %>
                <span class="input-group-btn">
                    <%= submit_tag "搜索", :class => "btn btn-default", :id => "search_button" %>
                </span>
            </div>
	    <%end%>
		<%= button_to "添加新物料", new_materiale_path,
				:class => "btn btn-success", :method => :get %>
	</div>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>文石编码</th>
      <th>类型</th>
      <th>描述</th>
      <th>料号</th>
      <th>替代料号</th>
      <th>替代料编码</th>
      <th>封装</th>
      <th>丝印</th>
      <th>物料级别</th>
      <th>备注</th>
      <th>供应商</th>
      <th>数量</th>
      <th>预估数量</th>
      <th>安全库存</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @materiales.each do |materiale| %>
    <% if materiale.quantity <= materiale.lower_limit%>
      <tr class="danger">
      <%else%>
      <tr>
    <%end%>
        <td hidden><%= materiale._id %></td>
        <td class="test11"><%= materiale.onyx_p_n %></td>
        <td><%= materiale.type %></td>
        <td><%= materiale.description %></td>
        <td><%= materiale.p_n %></td>
        <td><%= materiale.substitute_code %></td>
        <td><%= materiale.substitute_p_n %></td>
        <td><%= materiale.footprint %></td>
        <td><%= materiale.mark %></td>
        <td><%= materiale.level %></td>
        <td><%= materiale.remark %></td>
        <td><%= materiale.manufacture %></td>
        <td><%= materiale.quantity %></td>
        <td><%= materiale.estimated_quantity%></td>
        <td><%= materiale.lower_limit %></td>
        <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#update_materiale" onclick="set_data($(this).parent().parent(), 'plus')">
              <span class="glyphicon glyphicon-plus"></span></button></td>
        <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#update_materiale" onclick="set_data($(this).parent().parent(), 'minus')">
              <span class="glyphicon glyphicon-minus"></span></button></td>
        <td><%= button_to "详细", materiale, :class => "btn btn-info", :method => :get %></td>
        <!-- <td><%= link_to 'Edit', edit_materiale_path(materiale) %></td> -->
        <!-- <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', materiale, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        <td><%= button_to "删除", materiale, :class => "btn btn-danger", :method => :delete, data: { confirm: '确定删除改物料?' } %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render "update_materiale" %>


