<div class="row">
  <div class="col-lg-4">
<div class="panel panel-primary">
  <div class="panel-heading"><h4>Materiale</h4></div>
  <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @materiale.item %>
</p>

<p>
  <strong>Onyx p n:</strong>
  <%= @materiale.onyx_p_n %>
</p>

<p>
  <strong>Type:</strong>
  <%= @materiale.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @materiale.description %>
</p>

<p>
  <strong>P n:</strong>
  <%= @materiale.p_n %>
</p>

<p>
  <strong>Substitute code:</strong>
  <%= @materiale.substitute_code %>
</p>

<p>
  <strong>Substitute p n:</strong>
  <%= @materiale.substitute_p_n %>
</p>

<p>
  <strong>Footprint:</strong>
  <%= @materiale.footprint %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @materiale.mark %>
</p>

<p>
  <strong>Level:</strong>
  <%= @materiale.level %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @materiale.remark %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @materiale.manufacture %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @materiale.quantity %>
</p>

<p>
  <strong>Lower limit:</strong>
  <%= @materiale.lower_limit %>
</p>

<p>
  <strong>Role:</strong>
  <%= @materiale.role %>
</p>

<%= link_to 'Edit', edit_materiale_path(@materiale) %> |
<%= link_to 'Back', materiales_path %>

  </div>
  <div class="panel-footer"></div>
</div>
</div>



<div id="events_panel" class="col-lg-6">
  <%= render "events_list"%>
</div>
</div>