<h3>配件要求</h3>

<p>
  <strong>adapter:</strong>
  <%= @register_order.fitting.adapter %>
</p>

<p>
  <strong>adapter_sticker:</strong>
  <%= @register_order.fitting.adapter_sticker %>
</p>

<p>
  <strong>data line:</strong>
  <%= @register_order.fitting.data_line %>
</p>

<p>
  <strong>headphone:</strong>
  <%= @register_order.fitting.headphone %>
</p>

<p>
  <strong>TF card:</strong>
  <%= @register_order.fitting.tf_card %>
</p>

<p>
  <strong>holster:</strong>
  <%= @register_order.fitting.holster %>
</p>

<p>
  <strong>remark:</strong>
  <%= @register_order.fitting.remark %>
</p>