<h3>Assembly</h3>

<p>
  <strong>shell color:</strong>
  <%= @register_order.assembly.shell_color %>
</p>

<p>
  <strong>spray:</strong>
  <%= @register_order.assembly.spray %>
</p>

<p>
  <strong>key:</strong>
  <%= @register_order.assembly.key %>
</p>

<p>
  <strong>stand:</strong>
  <%= @register_order.assembly.mark %>
</p>

<p>
  <strong>numbering sequence:</strong>
  <%= @register_order.assembly.numbering_sequence %>
</p>

<p>
  <strong>remark:</strong>
  <%= @register_order.assembly.remark %>
</p>
