<h3>Hardware</h3>
<p>
  <strong>cpu:</strong>
  <%= @register_order.hardware.cpu %>
</p>

<p>
  <strong>ram:</strong>
  <%= @register_order.hardware.ram %>
</p>

<p>
  <strong>flash:</strong>
  <%= @register_order.hardware.flash %>
</p>

<p>
  <strong>screen:</strong>
  <%= @register_order.hardware.screen %>
</p>

<p>
  <strong>wireless:</strong>
  <%= @register_order.hardware.wireless %>
</p>

<p>
  <strong>touch type:</strong>
  <%= @register_order.hardware.touch_type %>
</p>

<p>
  <strong>battery capacity:</strong>
  <%= @register_order.hardware.battery_capacity %>
</p>

<p>
  <strong>connector:</strong>
  <%= @register_order.hardware.connector %>
</p>

<p>
  <strong>remark:</strong>
  <%= @register_order.hardware.remark %>
</p>