<h3>packaging_material</h3>

<p>
  <strong>box:</strong>
  <%= @register_order.packaging_material.box %>
</p>

<p>
  <strong>inside box:</strong>
  <%= @register_order.packaging_material.inside_box %>
</p>

<p>
  <strong>dust proof bag:</strong>
  <%= @register_order.packaging_material.dust_proof_bag %>
</p>

<p>
  <strong>warranty card:</strong>
  <%= @register_order.packaging_material.warranty_card %>
</p>

<p>
  <strong>quick help:</strong>
  <%= @register_order.packaging_material.quick_help %>
</p>

<p>
  <strong>help:</strong>
  <%= @register_order.packaging_material.help %>
</p>

<p>
  <strong>serial number:</strong>
  <%= @register_order.packaging_material.serial_number %>
</p>

<p>
  <strong>EAN13 code:</strong>
  <%= @register_order.packaging_material.ean13_code %>
</p>

<p>
  <strong>remark:</strong>
  <%= @register_order.packaging_material.remark %>
</p>