<h3>Fitting</h3>

<p>
  <strong>box:</strong>
  <%= @register_order.fitting.box %>
</p>

<p>
  <strong>inside box:</strong>
  <%= @register_order.fitting.inside_box %>
</p>

<p>
  <strong>dust proof bag:</strong>
  <%= @register_order.fitting.dust_proof_bag %>
</p>

<p>
  <strong>warranty card:</strong>
  <%= @register_order.fitting.warranty_card %>
</p>

<p>
  <strong>quick help:</strong>
  <%= @register_order.fitting.quick_help %>
</p>

<p>
  <strong>help:</strong>
  <%= @register_order.fitting.help %>
</p>

<p>
  <strong>serial number:</strong>
  <%= @register_order.fitting.serial_number %>
</p>

<p>
  <strong>EAN13 code:</strong>
  <%= @register_order.fitting.ean13_code %>
</p>

<p>
  <strong>remark:</strong>
  <%= @register_order.fitting.remark %>
</p>