<h3>Software</h3>

<p>
  <strong>os:</strong>
  <%= @register_order.software.os %>
</p>

<p>
  <strong>boot anim:</strong>
  <%= @register_order.software.boot_anim %>
</p>

<p>
  <strong>standby anim:</strong>
  <%= @register_order.software.standby_anim %>
</p>

<p>
  <strong>poweroff anim:</strong>
  <%= @register_order.software.poweroff_anim %>
</p>

<p>
  <strong>language:</strong>
  <%= @register_order.software.language %>
</p>

<p>
  <strong>software features:</strong>
  <%= @register_order.software.software_features %>
</p>

<p>
  <strong>remark:</strong>
  <%= @register_order.software.remark %>
</p>
