<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @bom.product %>
</p>

<p>
  <strong>Onyx p n:</strong>
  <%= @bom.onyx_p_n %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bom.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bom.description %>
</p>

<p>
  <strong>P n:</strong>
  <%= @bom.p_n %>
</p>

<p>
  <strong>Substitute code:</strong>
  <%= @bom.substitute_code %>
</p>

<p>
  <strong>Substitute p n:</strong>
  <%= @bom.substitute_p_n %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @bom.reference %>
</p>

<p>
  <strong>Footprint:</strong>
  <%= @bom.footprint %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @bom.mark %>
</p>

<p>
  <strong>Substitute mark:</strong>
  <%= @bom.substitute_mark %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @bom.remark %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bom.quantity %>
</p>

<p>
  <strong>Version:</strong>
  <%= @bom.version %>
</p>

<p>
  <strong>State:</strong>
  <%= @bom.state %>
</p>

<%= link_to 'Edit', edit_bom_path(@bom) %> |
<%= link_to 'Back', boms_path %>
