<%= form_for(@assembly_bom) do |f| %>
  <% if @assembly_bom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assembly_bom.errors.count, "error") %> prohibited this assembly_bom from being saved:</h2>

      <ul>
      <% @assembly_bom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :business_id %><br>
    <%= f.text_field :business_id %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :onyx_p_n %><br>
    <%= f.text_field :onyx_p_n %>
  </div>
  <div class="field">
    <%= f.label :p_n %><br>
    <%= f.text_field :p_n %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
