<%= form_for(@bom_event) do |f| %>
  <% if @bom_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bom_event.errors.count, "error") %> prohibited this bom_event from being saved:</h2>

      <ul>
      <% @bom_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
