<%= form_for(@manufacture) do |f| %>
  <% if @manufacture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufacture.errors.count, "error") %> prohibited this manufacture from being saved:</h2>

      <ul>
      <% @manufacture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name , :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tel %><br>
    <%= f.text_field :tel , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :remark %><br>
    <%= f.text_area :remark , :class => "form-control", :rows => "10", :cols => "50" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>
<% end %>
