<div class="well">
<h1>供应商列表</h1>
<%= link_to '添加供应商', new_manufacture_path, :class => "btn btn-default" %>

<div class="row">
    <% @manufactures.each do |manufacture| %>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <h4><%= manufacture.name %></h4>
            <p>地址：<%= manufacture.address %></p>
            <p>电话：<%= manufacture.tel %></p>
            <p>备注：<%= manufacture.remark %></p>
            <div>
                <%= link_to '详细', manufacture, :method => :get, :class => "btn btn-default btn-xs " %>
                <%= link_to '编辑', edit_manufacture_path(manufacture), :method => :get, :class => "btn btn-default btn-xs" %>
                <%= link_to '删除', manufacture, method: :delete, :class => "btn btn-default btn-xs", data: { confirm: 'Are you sure?' }%>
            </div>
        </div>
    </div>
    <% end %>
</div>
</div>