<div class="navbar navbar-fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">ONYX</a>
        <div class="container nav-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to "供应商", manufactures_path %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <li>
                    <%= link_to "#{current_user.name}", edit_user_registration_path%>
                </li>
                <li>
                    <%= link_to '注销', users_sign_out_path, :method => :delete %>
                </li>
                <% else %>
                <li>
                    <%= link_to '登录', users_sign_in_path, :class => "navbar-link" %>
                </li>
                <li>
                    <%= link_to '注册', users_sign_up_path, :class => "navbar-link" %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>

</div>